<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>GPT</title>
    <meta charset="UTF-8">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <script src="index.js" defer>
    </script>

  </head>
  <body>

    <div class="answers">
    </div>





    <div class='bottom'>
      <div class='input'>
        <input type="text" id="input" name="" value="" onkeydown="key(event)" autofocus> 
      </div>
    </div>



  </body>
</html>
