body
{
  background-color: rgb(55, 55, 55);
  color: white;
}

.answers
{
  font-size: 20px;
  padding-bottom: 3vw;
}

.answer
{
  color: rgb(53, 200, 53);
  margin: 0;
  padding: 2vw;
}

pre
{
  background-color: black;
  padding: 2vw;
  border-radius: 20px;
  margin: 1.5vw;
  font-size: 18px;
}

.question
{
  color: rgb(97, 97, 229);
  margin: 0;
}
.bottom
{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1vw;
  background-color: rgb(55, 55, 55);
}

.input
{
  width: 100%;
  height: 2vw;
  padding-right: 1vw;
}

input
{
  width: 100%;
  height: 2vw;
  background-color: rgb(40, 40, 40);
  border: none;
  font-size: 20px;
  color: white;
  padding-left: 1vw;
}

input:focus
{
  border: none;
  background-color: rgb(61, 61, 61);
  outline: none;
}

span
{
  color: white;
  background-color: gray;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgb(55, 55, 55);
}

/* color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
  border-radius: 10px;
  border: none;
}
