body
{
  background-color: rgb(55, 55, 55);
  color: white;
}

ul
{
  font-size: 200px;
}

.answer
{
  color: green;
}

.question
{
  color: blue;
}
.bottom
{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgb(55, 55, 55);
}

.input
{
  width: 95%;
  height: 2vw;
}

input
{
  width: 100%;
  height: 2vw;
  background-color: rgb(40, 40, 40);
  border: none;
  font-size: 20px;
  color: white;
  padding-left: 1vw;
}

.button
{
  margin-left: 1.5vw;
}

button
{
  height: 2vw;
  width: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  border: none;
  font-size: 20px;
  color: rgb(176, 176, 176);
  background-color: rgb(22, 22, 22);
}

span
{
  color: white;
  background-color: gray;
}
