<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>GPT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <script src="index.js" defer>
    </script>

  </head>
  <body>

    <div class='answers'>
      <ul>

      </ul>
    </div> 

    <div class='bottom'>
      <div class='input'>
        <input type="text" id="input" name="" value=""> 
      </div>

      <div class='button'>
        <button type="button" onclick="button()">Send</button>
      </div>
    </div>


  </body>
</html>
